{% extends 'mybarapp/base_generic.html' %}
{% load static %}

{% block title %}Servilleta | Restaurantes{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'bar/styles/restaurante_list.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="box p-5 m-4 rounded border border-primary">
        <h1>Lista de los Restaurantes</h1>
        {% if restaurante_list %}
            <ul>
            {% for restaurante in restaurante_list %}
                <li>
                    <a href="{{ restaurante.get_absolute_url }}">{{ restaurante.restaurante }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No existen restaurantes</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}