{% extends "bar/base_generic.html" %}
{% load static %}

{% block title %}Servilleta{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'bar/styles/style.css' %}">
{% endblock %}

{% block header%}
<div class="jumbotron">
        <h1 class="display-3">Hola, listo para comer!</h1>
        <p class="lead">Aqui podras conocer informacion nutricional de los alimentos que se ofrecen en cada restaurante de nuestra hermosa Universidad.</p><br>
        <p class="lead">Puedes realizar busquedas por comida, por restaurant y por facultad</p>
    </div>
    <!-- <div class="col-sm-10"></div>   -->
    
<div class="col-12">
    <form>
        <div class="form-group row mx-1">
            <!-- <label for="exampleInputEmail1">Email address</label> -->
            <input type="search" class="form-control form-control-lg col-md-8" id="exampleInputEmail1" placeholder="Busque por comida, restaurant, facultad">
            <button type="submit" class="btn btn-primary col-md-4 btn-lg">Buscar</button>
        </div>    
    </form>                
</div>
{% endblock %}

{% block content %}
<section class="pb-2">
    <div class="container text-center">
        <div id="comidas" class="row pt-3">
            <div class="col-lg-3 col-md-6 border rounded border-dark">
                <h2 id="h2platillo0">&nbsp;</h2>
                <img class="rounded" src="img/servilleta/r1.jpg" alt="Un exquisito platillo">
                <!-- <p id="myp">Valor nutricional: Calories: 80, Fat: 3g, Carbs: 13g, Protein: 2g</p> -->
                <p id="pnutricional0">
                    <strong>Valor nutricional:</strong>
                </p>
                <div class="row text-center mx-auto">
                    <strong>Restaurante: &nbsp;</strong>
                    <!-- <p id="pname1">Bar-fiec</p> -->
                    <p id="pname0"></p>
                </div>
                <div class="row text-center mx-auto">
                    <strong>Facultad: &nbsp;</strong>
                    <!-- <p id="pfacultad1">Fiec</p> -->
                    <p id="pfacultad0"></p>
                </div>
                <p><a href="#" class="btn btn-secondary" role="button">Detalles &raquo;</a></p>
            </div>
            <div class="col-lg-3 col-md-6 border rounded border-dark">
                <h2 id="h2platillo1">&nbsp;</h2>
                <img class="rounded" src="img/servilleta/r1.jpg" alt="Un exquisito platillo">
                <p id="pnutricional1">
                    <strong>Valor nutricional:</strong>
                </p>
                <div class="row text-center mx-auto">
                    <strong>Restaurante: &nbsp;</strong>
                    <p id="pname1"></p>
                </div>
                <div class="row text-center mx-auto">
                    <strong>Facultad: &nbsp;</strong>
                    <p id="pfacultad1"></p>
                </div>
                <p><a href="#" class="btn btn-secondary" role="button">Detalles &raquo;</a></p>
            </div>
            <div class="col-lg-3 col-md-6 border rounded border-dark">
                <h2 id="h2platillo2">&nbsp;</h2>
                <img class="rounded" src="img/servilleta/r1.jpg" alt="Un exquisito platillo">
                <p id="pnutricional2">
                    <strong>Valor nutricional:</strong>
                </p>
                <div class="row text-center mx-auto">
                    <strong>Restaurante: &nbsp;</strong>
                    <p id="pname2"></p>
                </div>
                <div class="row text-center mx-auto">
                    <strong>Facultad: &nbsp;</strong>
                    <p id="pfacultad2">Fiec</p>
                </div>
                <p><a href="#" class="btn btn-secondary" role="button">Detalles &raquo;</a></p>
            </div>                                
        </div>
    </div>

    <div class="container">
        <ul id="mylist" class="list-unstyled mt-5">
            <li class="media">
                <img class="mr-3 rounded" src="img/servilleta/r2.jpg" alt="Generic placeholder image">
                <div class="media-body">
                <h5 id="h2platillo3" class="mt-0 mb-1">&nbsp;</h5>
                    <div id="pnutricional3" class="nutritional-info">
                        <span>Porcion:1 plato,&nbsp;</span>
                    </div>
                    <span>Restaurant:&nbsp;</span>
                    <span id="pname3">delicia</span><br>
                    <span>Facultad:&nbsp;</span>
                    <span id="pfacultad3">fiec</span>
                </div>
            </li>
            <li class="media my-4">
                <img class="mr-3 rounded" src="img/servilleta/r3.jpg" alt="Generic placeholder image">
                <div class="media-body">
                <h5 id="h2platillo4" class="mt-0 mb-1">&nbsp;</h5>
                    <div id="pnutricional4" class="nutritional-info">
                        <span>Porcion:1 plato,&nbsp;</span>                                
                    </div>    
                    <span>Restaurant:&nbsp;</span>
                    <span id="pname4">delicia</span><br>
                    <span>Facultad:&nbsp;</span>
                    <span id="pfacultad4">fiec</span>
                </div>
            </li>
            <li class="media">
                <img class="mr-3 rounded" src="img/servilleta/r4.jpg" alt="Generic placeholder image">
                <div class="media-body">
                <h5 id="h2platillo5" class="mt-0 mb-1">&nbsp;</h5>
                    <div id="pnutricional5" class="nutritional-info">
                        <span>Porcion:1 plato,&nbsp;</span>                                                                
                    </div>    
                    <span>Restaurant:&nbsp;</span>
                    <span id="pname5"></span><br>
                    <span>Facultad:&nbsp;</span>
                    <span id="pfacultad5"></span>                    
                </div>
            </li>
        </ul>          
    </div>
    <div id="mydiv-sug" class="container">
        <hr class="my-4">
        <p>Tienes sugerencias, preguntas, estamos encantados de recibir preguntas y comentarios, siente libre de dejarnos tus comentarios.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Escribir sugerencia</a>
        </p>
    </div>
</section>    
{% endblock %}

{% block javascript %}
<script src="{% static 'bar/data/data.json' %}"></script>
<script src="{% static 'bar/scripts/myfunctions.js' %}"></script>
<script src="{% static 'bar/scripts/script.js' %}"></script>
{% endblock %}
