.mynavbar {   
    font-family: 'Handlee', cursive;
    font-size: 1.20rem;
}
section {
    font-family: 'Varela Round', sans-serif;    
}
div.h400 {
    height: 400px;
}
.box {
    margin: 10px;
    padding: 5px;
    text-align: justify;
    background-color: hsl(208, 67%, 88%)
}

footer {
    height: 80px;
    font-family: 'Varela Round', sans-serif;    
}

iframe {
	width: 100%;	
	/* frameborder: 0; */
}

#titulo {
	padding-bottom: 0.1%;
	padding-top: 0.5%;
	background-color: hsl(208, 67%, 88%);
}