section, .jumbotron {
    /* background: linear-gradient(to top right,hsl(39, 57%, 83%),hsl(141, 56%, 48%)) */
    /* background: linear-gradient(to bottom left,hsl(217, 86%, 51%),hsl(217, 63%, 76%)); */
    background-color: hsl(208, 67%, 88%);
}
ul.list-unstyled img {
    width: 200px;
}
footer {
    height: 80px;
}
/* .container {
    width: 90%;
} */
/* nav.navbar {
    font-size: 2em;
} */

#comidas>div {
    background-color: #F6F5F9;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

#comidas > div > img {
    width: 100%;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

    /* #search-box> input{
        width: 80%;
    } */
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }